* {
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    background-color: black;
}

#mini-circle{
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 50%;
    z-index: 99999;
    background-color: #fff;
    transition:  all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.bounding{
    width: fit-content;
    overflow: hidden;
}

.bounding .bound-elem{
    transform: translateY(100%);
}

#hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: black;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}

#nav a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

#heading {
    margin-top: 90px;
}

#heading h1 {
    /* font-family: "General Sans Medium"; */
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
    opacity: 0.6;
    margin-left: 30px;
}

#heading #second-heading {
    margin-left: 230px;
}

.blocktxt {
    display: flex;
    flex-direction: column;
    align-items: end;
    /* background-color: red; */
    width: fit-content;
}

.blocktxt h5 {
    /* background-color: aqua; */
    /* text-transform: ; */
    text-transform: uppercase;
    font-size: 15px;
    text-align: right !important;
}

#small-headings {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 50px;
}

#small-headings h5 {
    text-align: right;
    font-size: 1vw;
    margin-top: 0.5vw;
    text-transform: uppercase;
}

#hero-footer{
    padding: 0 2vw;
    position: absolute;
    bottom: 3%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero-footer a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

#hero-footer #icons{
    display: flex;
    gap: 5px;
}

#hero-footer .circle{
    width: 25px;
    height: 25px;
    background-color: #888;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#second{
    padding-top: 200px;
    padding-right: 10vw;
    background-color: black;
    width: 100%;
    /* height: 100vh; */
    color: #fff;
}

.element{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
}

.element h1{
    text-transform: uppercase;
    font-size: 7.5vw;
    opacity: 0.7;
}

.element-last{
    border-bottom: 1px solid #888;
}

.element img{
    height: 140%;
    opacity: 0;
    /* display: none; */
    z-index: 999;
    position: absolute;
}

#about{
    color: #fff;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    /* justify-content: space-between; */
    gap: 50px;
    width: 100%;
    background-color: black;
    padding: 10vw 10vw;
    padding-left: 40vw;
}

/* #image-about{
    width: 2vw;
    height: 2vh;
    border-radius: 50%;
} */

#about img{
    width: 200px;
}

#text-about{
    width: 25rem;
    /* background-color: red; */
}

#text-about h5{
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 10px;

}

#text-about p{
    line-height: 1.5;
    margin-bottom: 30px;
}

#text-about a{
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

#subscribe{
    color:#fff;
    padding:20px 30px;
    padding-bottom: 7vw;
    background-color: black;
}

#subscribe h5{
    text-transform: uppercase;
    opacity: 0.6;
}

#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}


#footer{
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
}

#footer a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

#footer-right{
    display: flex;
    gap: 30px;
}

#footer-left{
    display: flex;
    gap: 20px;
}

/* window.addEventListener('mousemove', function (details) {
    document.querySelector('#mini-circle').style.transform = `translate(${details.clientX}px, ${details.clientY}px) scale(${xscale}, ${yscale})`;
}) */

